<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Athena Spreadsheet Example</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📋</text></svg>">
    <script src="/assets/main.js"></script>
</head>
<body>
    <header>
	    <menu>
			| <a href="/">Home</a>
            | <a href="/new">New</a>
			|
		</menu>
	</header>

    <%= view %>
</body>
</html>